@use "../global" as *;

.cta1 {
    background-image: url(../img/pc/cta1-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    z-index: 1;
}


.cta1__contents {
    max-width: rem(600);
    margin: 0 auto;
}

.cta1__title {
    font-size: rem(28);
    font-weight: $bold;
    color: $color-black;
    margin-bottom: rem(16);
    line-height: 1.4;
}

.cta1__description {
    font-size: rem(16);
    color: $color-black;
    margin-bottom: rem(40);
    line-height: 1.6;
}

.cta1__btn-contents {
    display: flex;
    justify-content: center;
    gap: rem(20);
    flex-wrap: wrap;
}

.cta1__image {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
}

.cta1__image img {
    height: 100%;
    width: auto;
}

