@use "../global" as *;

.hero {
    width: 100%;
    position: relative;
    min-height: 100vh; // ビューポートの高さに合わせる
    overflow: hidden;
    background-image: url(../img/pc/02_1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__image {
        width: 100%;
        height: 100vh;
        display: block;
        line-height: 0;
        
        img {
            width: 100%;
            height: 100%;
            display: block;
            object-fit: cover;
            object-position: center;
        }
    }
    
    // レスポンシブ対応
    @include mq(md) {
        min-height: 60vh; // モバイルでは高さを調整
        
        &__image {
            height: 60vh;
            
            img {
                object-position: center top; // モバイルでは上部を表示
            }
        }
    }
}
