@use "../global" as *;

#lp-ad {
    
    .hero {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(80) 0;
    }
    
    .hero__contents {
        width: 100%;
        max-width: calc($inner + ($padding-pc * 2));
        padding-right: $padding-pc;
        padding-left: $padding-pc;
        margin-right: auto;
        margin-left: auto;
        box-sizing: border-box;
    }
    
    .hero__contents-main {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0;
        margin-bottom: rem(32);
    }
    
    .hero__text-contents {
        flex: 1;
        max-width: rem(544);
    }
    
    .hero__top-texts {
        font-size: rem(24);
        font-weight: $normal;
        margin-bottom: rem(16);
        color: $color-black;
        display: flex;
        align-items: center;
        gap: rem(8);
    }
    
    .hero__main-copy {
        font-size: rem(64);
        font-weight: $bold;
        line-height: 1.2;
        margin-bottom: rem(20);
        color: $color-black;
    }
    
    .hero__main-copy--large {
        font-size: calc(129 / 97 * 1em);
    }
    
    .hero__main-copy--grad_blue {
        background: linear-gradient(170deg, #037ef1 0%,#037ef1 49%,#0460d7 50%, #0460d7 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        display: inline-block;
    }
    
    .hero__main-title {
        font-size: rem(40);
        font-weight: $bold;
        color: $color-black;
        display: flex;
        align-items: center;
        gap: rem(10);
    }
    
    .hero__main-title--company {
        height: rem(48);
        width: auto;
        display: inline-block;
    }
    .hero__main-title--company img {
        display: block;
        height: 100%;
    }
    
    .hero__image {
        flex: 1;
        max-width: rem(480);
        margin-left: rem(-80);
    }
    
    .hero__image img {
        width: 100%;
        height: auto;
        display: block;
    }
    
    .hero__cta {
        text-align: center;
    }
}
