@use "../global" as *;

// 全体のレイアウト
.lp1 {
    width: 100%;
    margin: 0 auto;
    max-width: 1920px;
    font-family: $base-font-family;
}

.lp1 section,
.lp1 footer {
    width: 100%;
    position: relative;
}

.lp1 picture {
    width: 100%;
    display: block;
    line-height: 0;
}

.lp1 picture img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.lp1 img {
    width: 100%;
    height: auto;
    display: block;
}

.hero-about-wrapper {
    background-image: url(../img/pc/hero-about-bg-image.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// SP用スタイル
@include mq(md) {
    .lp1 picture img {
        object-position: center;
    }
}
