@use "../global" as *;

.outline {
  background-color: #cbe4fd;
  padding: rem(100) 0;
}

.section__title--outline {
  text-align: center;
  margin-bottom: rem(60);
}

.section__title-main--outline {
  font-size: rem(36);
  font-weight: normal;
  color: $color-black;
  margin-bottom: rem(20);
  display: flex;
  justify-content: center;
  align-items: center;
}

.outline-title__logo {
  max-width: rem(200);
  width: 100%;
  display: inline-block;
}

.section__title-main--outline img {
  width: 100%;
}

.outline-title--blue-box {
  background-color: $color-theme;
  color: $color-white;
  line-height: 1;
  padding: rem(8);
  margin-right:rem(4);
  border-radius: rem(4);
  font-size: 1.5em;
}

.outlines__title-sub {
  font-size: rem(18);
  color: #ccc;
  margin-bottom: rem(10);
}


.outline__body {
  position: relative;
  z-index: 1;
}

.outline__contents {
  margin-bottom: rem(60);
  background-color: $color-white;
  border-radius: rem(10);
  padding: rem(20) rem(20);
}

.outline__image {
  flex: 1;
  max-width: rem(800);
  margin-right:auto;
  margin-left:auto;
  margin-bottom: rem(40);
}

.outline__image img {
  width: 100%;
  height: auto;
}

.outline__text-area {
  flex: 1;
}

.outline__top-text {
  font-size: rem(18);
  color: $color-black;
  margin-bottom: rem(30);
  line-height: 1.6;
}

.outline__top-text .text-single-dt::before {
  background-color: $color-orange
}

.outline__list {
  list-style: none;
  padding: 0;
  margin: 0 0 rem(40);
}

.outline__list-item {
  display: flex;
  width: 100%;
}

.outline__list-item:not(:last-child) {
  margin-bottom: rem(20);
}

.outline__list-item-number {
  font-size: rem(16);
  color: $color-white;
  padding: rem(8) rem(16);
  background: linear-gradient(-180deg, #037ef1 0%, #194fa9 100%);
  line-height: 1.5;
}

.outline__list-item-text {
  font-size: rem(16);
  line-height: 1.5;
  background-color: #f0f0f0;
  padding: rem(8) rem(16);
  flex: 1;
}

.outline__bottom-description {
  font-size: rem(16);
  line-height: 1.5;
  text-align: center;
}

.outline__bottom-description--large {
  font-size: 1.25em;
}

.outline__bottom-contents {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: rem(20);
  margin-top: rem(40);
}

.outline__bottom-contents-accent {
  flex-shrink: 0;
  width: rem(60);
}

.outline__bottom-contents-accent img {
  height: auto;
  width: 100%;
}

.outline__bottom-contents-text {
  font-size: rem(16);
  line-height: 1.5;
  text-align: center;
}

.outline__bottom-contents-text--large {
  font-size: 1.5em;
  font-weight: $bold;
}

.outline__front-contents,
.outline__after-contents {
  margin-bottom: rem(60);
}


.outline__btn-area {
  text-align: center;
  margin-top: rem(60);
}





// SP用スタイル
@include mq(md) {
  .outline {
    padding: rem(60) 0;
  }
  
  .outline__inner {
    padding: 0 $padding-sp;
  }
  
  .section__title--outline {
    margin-bottom: rem(40);
  }
  
  .section__title-main--outline {
    font-size: rem(28);
  }
  
  .section__title-main--outline img {
    height: rem(30);
  }
  
  .outlines__title-sub {
    font-size: rem(16);
  }
  
  
  .outline__contents {
    flex-direction: column;
    gap: rem(30);
    margin-bottom: rem(40);
  }
  
  .outline__image {
    max-width: rem(300);
  }
  
  .outline__top-text {
    font-size: rem(16);
    margin-bottom: rem(20);
  }
  
  .outline__list-item {
    padding: rem(15);
  }
  
  .outline__list-item-text {
    font-size: rem(14);
  }
  
  .outline__bottom-description {
    font-size: rem(14);
  }
  
  .outline__bottom-description--large {
    font-size: rem(16);
  }
  
  .outline__bottom-contents {
    flex-direction: column;
    padding: rem(20);
    margin-top: rem(30);
  }
  
  .outline__bottom-contents-text {
    font-size: rem(14);
  }
  
  .outline__bottom-contents-text--large {
    font-size: rem(16);
  }
  
  .outline__item {
    flex-direction: column;
    gap: rem(20);
    padding: rem(20);
    margin-bottom: rem(30);
  }
 
}