@use "../global" as *;
#lp-ad {
  .platform {
      padding: rem(100) 0;
      background-color: $color-white;
  }
  
  .platform__inner {
      max-width: $inner;
      margin: 0 auto;
      padding: 0 $padding-pc;
  }
  
  .section__title--platform {
      text-align: center;
      position: relative;
      margin-bottom: rem(60);
  }
  
  .section__title-main--platform {
      font-size: rem(40);
      font-weight: $bold;
      line-height: 1.4;
      margin-bottom: rem(20);
  }
  
  .section__title-bg_text--platform {
      position: absolute;
      top: auto;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      opacity: 0.1;
  }
  
  .section__title-bg_text--platform img {
      width: rem(300);
      height: auto;
  }
  
  .platform__body {
      margin-top: rem(60);
  }
  
  .platform__maincontents {
    text-align: center;
    margin-bottom: rem(80);
    box-shadow: rem(5) rem(5) rem(15) rgba(16, 52, 104, 0.28);
    padding: rem(40) rem(20);
  }
  
  .platform__maincontents-label {
    text-align: center;
    margin-bottom: rem(30);
  }
  
  .platform__maincontents-label-text {
    max-width: rem(350);
    width: 100%;
    display: inline-block;
    border-radius: rem(40);
    padding: rem(8) rem(20);
    font-size: rem(24);
    background: $color-theme;
    color: $color-white;
  }
  
  .platform__maincontents-body {
      display: flex;
      justify-content: center;
  }
  
  .platform__maincontents-sns img {
      max-width: rem(600);
      height: auto;
  }
  
  .platform__subcontents-flex {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: rem(40);
  }
  
  .platform__sub-item {
    padding-top: rem(24);
    position: relative;
  }
  
  .platform__sub-item-label {
    position: absolute;
    text-align: center;
    color: $color-white;
    font-size: rem(18);
    font-weight: $bold;
    padding: rem(8) rem(20);
    border-radius: rem(20);
    display: inline-block;
    margin-bottom: rem(20);
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    max-width: rem(390);
    width: 100%;
  }
  .platform__sub-item--lp .platform__sub-item-label {
    background-color: $color-theme;
  }
  .platform__sub-item--ad .platform__sub-item-label {
    background-color: $color-light-blue;
  }
  
  .platform__sub-item-contents {
    border-radius: rem(8);
    border-width: 1px;
    border-style: solid;
  }
  .platform__sub-item--lp .platform__sub-item-contents {
    border-color: $color-theme;
  }
  .platform__sub-item--ad .platform__sub-item-contents {
    border-color: $color-light-blue;
  }
  
  .platform__sub-item-description {
    text-align: center;
    font-size: rem(16);
    line-height: 1.5;
    padding: rem(40) rem(20) rem(20);
  }
  
  .text-top-dot {
      position: relative;
  }
  
  .text-top-dot::before {
      content: "";
      display: inline-block;
      width: 100%;
      height: rem(15);
      color: $color-black;
      font-size: rem(8);
      position: absolute;
      top: rem(-8);
      left: 50%;
      transform: translateX(-50%);
      background: radial-gradient(circle farthest-side, $color-black, $color-black 20%, transparent 20%, transparent);
      background-size: rem(15);
      content: '';
  }
  
  .platform__sub-item-main {
    padding: rem(24) rem(20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: rem(192);
  }
  .platform__sub-item--lp .platform__sub-item-main {
    background-color: $color-theme;
    color: $color-white;
  }
  .platform__sub-item--ad .platform__sub-item-main {
    background-color: $color-light-blue;
    color: $color-white;
  }
  
  .platform__sub-item-main-text-01 {
      font-size: rem(24);
      margin-bottom: rem(8);
  }
  
  .platform__sub-item-main-text-02 {
    font-size: rem(32);
    font-weight: $bold;
    line-height: 1;
  }
  
  .platform__sub-item-main-text-02--large {
      font-size: 1.5em;
  }
  
  .platform__sub-item-main-text-02 img {
      display: inline-block;
      height: 1em;
      width: auto;
      object-fit: contain;
      vertical-align: middle;
  }
  
  .platform__sub-item-main-text-03 {
    font-size: rem(24);
    font-weight: $bold;
    margin-bottom: rem(8);
    line-height: 1;
  }
  
  .platform__sub-item-main-text-03--hukidashi {
    background-color: #fffa94;
    color: $color-light-blue;
    font-size: rem(24);
    padding: rem(4) rem(8);
    border-radius: rem(8);
    position: relative;
    z-index: 1;
    margin-right: rem(20);
  }
  .platform__sub-item-main-text-03--hukidashi::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 99%;
    transform: translateY(-50%);
    width: rem(12);
    height: rem(20);
    background-color: #fffa94;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    box-sizing: border-box;
  }
  
  .platform__sub-item-main-text-03--large {
    font-size: 2em;
  }
  
  .platform__sub-item-main-text-04 {
      font-size: rem(24);
      color: $color-white;
  }
  
  // SP用スタイル
  @include mq(md) {
      .platform {
          padding: rem(60) 0;
      }
      
      .platform__inner {
          padding: 0 $padding-sp;
      }
      
      .platform__body {
          margin-top: rem(40);
      }
      
      .platform__maincontents {
          margin-bottom: rem(60);
      }
      
      .platform__maincontents-label {
          margin-bottom: rem(20);
      }
      
      .platform__maincontents-label-text {
          font-size: rem(24);
      }
      
      .platform__maincontents-sns img {
          max-width: 100%;
      }
      
      .platform__subcontents-flex {
          grid-template-columns: 1fr;
          gap: rem(30);
      }
      
      .platform__sub-item {
          padding: rem(20);
      }
      
      .platform__sub-item-label {
          font-size: rem(16);
          margin-bottom: rem(15);
      }
      
      .platform__sub-item-description {
          font-size: rem(14);
          margin-bottom: rem(15);
      }
      
      .platform__sub-item-main-text-01 {
          font-size: rem(12);
      }
      
      .platform__sub-item-main-text-02 {
          font-size: rem(28);
      }
      
      .platform__sub-item-main-text-02--large {
          font-size: rem(40);
      }
      
      .platform__sub-item-main-text-03 {
          font-size: rem(20);
      }
      
      .platform__sub-item-main-text-03--hukidashi {
          font-size: rem(12);
      }
      
      .platform__sub-item-main-text-03--large {
          font-size: rem(32);
      }
      
      .platform__sub-item-main-text-04 {
          font-size: rem(14);
      }
      
      .section__title-main--platform {
          font-size: rem(28);
      }
      
      .section__title-bg_text--platform img {
          width: rem(200);
      }
  }    
}
